.icon {
  background-image: url(../images/sprite-alert-white.PNG);
}
.icon-ic_add_alert_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_outline_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_warning_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-alert-black.PNG);
}
.icon-ic_add_alert_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_outline_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_warning_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-toggle-white.PNG);
}
.icon-ic_check_box_outline_blank_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_box_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_indeterminate_check_box_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_checked_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_unchecked_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_border_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_half_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-toggle-black.PNG);
}
.icon-ic_check_box_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_box_outline_blank_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_indeterminate_check_box_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_checked_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_unchecked_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_border_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_half_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-file-black.PNG);
}
.icon-ic_attachment_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_circle_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_done_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_download_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_off_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_queue_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_upload_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_new_folder_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_download_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_upload_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_open_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_shared_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-file-white.PNG);
}
.icon-ic_attachment_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_circle_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_done_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_download_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_off_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_queue_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_upload_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_new_folder_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_download_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_upload_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_open_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_shared_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-places-white.PNG);
}
.icon-ic_ac_unit_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airport_shuttle_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_all_inclusive_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_beach_access_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_business_center_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_casino_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_care_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_friendly_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_fitness_center_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_free_breakfast_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_golf_course_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_hot_tub_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_kitchen_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pool_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_room_service_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoke_free_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoking_rooms_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_spa_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-places-black.PNG);
}
.icon-ic_ac_unit_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airport_shuttle_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_all_inclusive_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_beach_access_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_business_center_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_casino_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_care_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_friendly_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_fitness_center_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_free_breakfast_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_golf_course_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_hot_tub_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_kitchen_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pool_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_room_service_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoke_free_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoking_rooms_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_spa_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-navigation-black.PNG);
}
.icon-ic_apps_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_back_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_downward_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_circle_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_up_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_forward_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_upward_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cancel_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_left_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_right_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_close_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_less_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_more_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_first_page_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_exit_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_last_page_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_menu_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_horiz_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_vert_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_refresh_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_left_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_right_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_less_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_more_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-navigation-white.PNG);
}
.icon-ic_apps_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_back_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_downward_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_circle_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_up_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_forward_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_upward_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cancel_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_left_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_right_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_close_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_less_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_more_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_first_page_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_exit_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_last_page_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_menu_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_horiz_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_vert_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_refresh_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_left_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_right_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_less_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_more_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-social-black.PNG);
}
.icon-ic_cake_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_domain_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_add_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_city_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_bad_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_active_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_none_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_off_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_paused_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_pages_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_party_mode_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_outline_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_add_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_outline_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_plus_one_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_poll_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_public_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_school_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_dissatisfied_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_neutral_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_satisfied_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_dissatisfied_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_satisfied_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_share_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_whatshot_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-social-white.PNG);
}
.icon-ic_cake_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_domain_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_add_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_city_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_bad_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_active_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_none_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_off_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_paused_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_pages_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_party_mode_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_outline_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_add_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_outline_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_plus_one_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_poll_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_public_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_school_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_dissatisfied_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_neutral_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_satisfied_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_dissatisfied_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_satisfied_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_share_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_whatshot_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-content-black.PNG);
}
.icon-ic_add_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_add_box_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_add_circle_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_add_circle_outline_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_archive_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_backspace_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_block_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_clear_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_content_copy_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_content_cut_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_content_paste_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_delete_sweep_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_drafts_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_filter_list_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_flag_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_font_download_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_forward_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_gesture_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_inbox_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_link_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_low_priority_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_mail_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_markunread_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_move_to_inbox_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_next_week_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_redo_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_remove_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_remove_circle_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_remove_circle_outline_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_reply_all_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_reply_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_report_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_save_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_select_all_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_send_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_sort_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_text_format_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_unarchive_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_undo_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_weekend_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-content-white.PNG);
}
.icon-ic_add_box_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_add_circle_outline_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_add_circle_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_add_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_archive_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_backspace_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_block_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_clear_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_content_copy_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_content_cut_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_content_paste_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_delete_sweep_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_drafts_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_filter_list_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_flag_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_font_download_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_forward_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_gesture_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_inbox_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_link_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_low_priority_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_mail_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_markunread_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_move_to_inbox_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_next_week_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_redo_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_remove_circle_outline_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_remove_circle_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_remove_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_reply_all_white_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_reply_white_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_report_white_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_save_white_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_select_all_white_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_send_white_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_sort_white_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_text_format_white_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_unarchive_white_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_undo_white_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_weekend_white_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-hardware-white.PNG);
}
.icon-ic_cast_connected_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cast_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_computer_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_desktop_mac_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_desktop_windows_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_developer_board_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_device_hub_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_devices_other_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_dock_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_gamepad_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_headset_mic_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_headset_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_down_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_left_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_right_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_up_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_backspace_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_capslock_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_hide_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_return_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_tab_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_voice_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_chromebook_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_mac_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_windows_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_memory_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_mouse_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_android_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_iphone_white_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_off_white_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_white_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_power_input_white_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_router_white_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_scanner_white_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_security_white_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_sim_card_white_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_smartphone_white_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_group_white_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_white_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_tablet_android_white_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_tablet_mac_white_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_tablet_white_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_toys_white_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_tv_white_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_videogame_asset_white_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_watch_white_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-hardware-black.PNG);
}
.icon-ic_cast_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cast_connected_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_computer_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_desktop_mac_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_desktop_windows_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_developer_board_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_device_hub_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_devices_other_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_dock_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_gamepad_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_headset_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_headset_mic_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_down_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_left_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_right_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_arrow_up_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_backspace_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_capslock_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_hide_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_return_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_tab_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_keyboard_voice_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_chromebook_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_mac_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_laptop_windows_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_memory_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_mouse_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_android_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_iphone_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_off_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_power_input_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_router_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_scanner_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_security_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_sim_card_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_smartphone_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_group_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_tablet_android_black_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_tablet_black_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_tablet_mac_black_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_toys_black_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_tv_black_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_videogame_asset_black_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_watch_black_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-communication-black.PNG);
}
.icon-ic_business_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_end_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_made_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_merge_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_missed_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_missed_outgoing_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_received_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_split_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_bubble_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_bubble_outline_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_clear_all_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_comment_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contact_mail_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contact_phone_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contacts_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_dialer_sip_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_dialpad_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_email_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_forum_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_import_contacts_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_import_export_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_invert_colors_off_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_live_help_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_off_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_on_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mail_outline_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_message_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_no_sim_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_erase_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_lock_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_ring_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_setup_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_portable_wifi_off_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_present_to_all_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_ring_volume_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_rss_feed_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_screen_share_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_phone_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_current_landscape_black_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_current_portrait_black_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_primary_landscape_black_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_primary_portrait_black_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stop_screen_share_black_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_swap_calls_black_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_textsms_black_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_voicemail_black_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_vpn_key_black_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-communication-white.PNG);
}
.icon-ic_business_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_end_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_made_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_merge_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_missed_outgoing_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_missed_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_received_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_split_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_bubble_outline_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_bubble_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_clear_all_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_comment_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contact_mail_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contact_phone_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contacts_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_dialer_sip_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_dialpad_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_email_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_forum_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_import_contacts_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_import_export_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_invert_colors_off_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_live_help_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_off_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_on_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mail_outline_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_message_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_no_sim_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_white_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_erase_white_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_lock_white_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_ring_white_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_setup_white_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_portable_wifi_off_white_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_present_to_all_white_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_ring_volume_white_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_rss_feed_white_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_screen_share_white_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_phone_white_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_current_landscape_white_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_current_portrait_white_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_primary_landscape_white_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_primary_portrait_white_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stop_screen_share_white_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_swap_calls_white_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_textsms_white_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_voicemail_white_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_vpn_key_white_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-notification-white.PNG);
}
.icon-ic_adb_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_flat_angled_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_flat_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_individual_suite_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_legroom_extra_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_legroom_normal_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_legroom_reduced_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_recline_extra_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_recline_normal_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_bluetooth_audio_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_confirmation_number_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_disc_full_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_alt_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_off_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_on_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_drive_eta_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_enhanced_encryption_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_event_available_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_event_busy_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_event_note_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_special_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_live_tv_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_mms_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_network_check_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_network_locked_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_no_encryption_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_ondemand_video_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_personal_video_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_bluetooth_speaker_white_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_forwarded_white_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_in_talk_white_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_locked_white_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_missed_white_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_paused_white_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_power_white_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_priority_high_white_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_white_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_sd_card_white_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_sim_card_alert_white_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sms_failed_white_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_sms_white_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_sync_disabled_white_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_sync_problem_white_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_sync_white_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_system_update_white_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_tap_and_play_white_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_time_to_leave_white_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_vibration_white_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_voice_chat_white_24dp {
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_vpn_lock_white_24dp {
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_wc_white_24dp {
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_wifi_white_24dp {
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-notification-black.PNG);
}
.icon-ic_adb_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_flat_angled_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_flat_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_individual_suite_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_legroom_extra_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_legroom_normal_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_legroom_reduced_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_recline_extra_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_airline_seat_recline_normal_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_bluetooth_audio_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_confirmation_number_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_disc_full_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_alt_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_off_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_do_not_disturb_on_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_drive_eta_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_enhanced_encryption_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_event_available_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_event_busy_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_event_note_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_special_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_live_tv_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_mms_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_network_check_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_network_locked_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_no_encryption_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_ondemand_video_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_personal_video_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_bluetooth_speaker_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_forwarded_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_in_talk_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_locked_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_missed_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_paused_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_power_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_priority_high_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_sd_card_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_sim_card_alert_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sms_black_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_sms_failed_black_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_sync_black_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_sync_disabled_black_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_sync_problem_black_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_system_update_black_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_tap_and_play_black_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_time_to_leave_black_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_vibration_black_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_voice_chat_black_24dp {
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_vpn_lock_black_24dp {
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_wc_black_24dp {
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_wifi_black_24dp {
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-editor-black.PNG);
}
.icon-ic_attach_file_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_attach_money_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_all_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_bottom_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_clear_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_color_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_horizontal_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_inner_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_left_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_outer_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_right_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_style_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_top_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_vertical_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_bubble_chart_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_drag_handle_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_center_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_justify_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_left_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_right_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_bold_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_clear_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_color_fill_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_color_reset_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_color_text_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_indent_decrease_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_indent_increase_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_italic_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_line_spacing_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_list_bulleted_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_list_numbered_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_paint_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_quote_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_shapes_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_size_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_strikethrough_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_textdirection_l_to_r_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_textdirection_r_to_l_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_underlined_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_functions_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_highlight_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_chart_black_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_comment_black_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_drive_file_black_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_emoticon_black_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_invitation_black_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_link_black_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_photo_black_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_linear_scale_black_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_merge_type_black_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_mode_comment_black_24dp {
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mode_edit_black_24dp {
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_monetization_on_black_24dp {
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_money_off_black_24dp {
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_multiline_chart_black_24dp {
  background-position: -224px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_pie_chart_black_24dp {
  background-position: -224px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_pie_chart_outlined_black_24dp {
  background-position: -0px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_publish_black_24dp {
  background-position: -32px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_short_text_black_24dp {
  background-position: -64px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_show_chart_black_24dp {
  background-position: -96px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_space_bar_black_24dp {
  background-position: -128px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_strikethrough_s_black_24dp {
  background-position: -160px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_text_fields_black_24dp {
  background-position: -192px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_title_black_24dp {
  background-position: -224px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_vertical_align_bottom_black_24dp {
  background-position: -256px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_vertical_align_center_black_24dp {
  background-position: -256px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_vertical_align_top_black_24dp {
  background-position: -256px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_wrap_text_black_24dp {
  background-position: -256px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-editor-white.PNG);
}
.icon-ic_attach_file_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_attach_money_white_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_all_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_bottom_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_clear_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_color_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_horizontal_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_inner_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_left_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_outer_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_right_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_style_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_top_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_border_vertical_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_bubble_chart_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_drag_handle_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_center_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_justify_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_left_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_align_right_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_bold_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_clear_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_color_fill_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_color_reset_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_color_text_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_indent_decrease_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_indent_increase_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_italic_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_line_spacing_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_list_bulleted_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_list_numbered_white_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_paint_white_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_quote_white_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_shapes_white_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_size_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_strikethrough_white_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_textdirection_l_to_r_white_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_textdirection_r_to_l_white_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_format_underlined_white_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_functions_white_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_highlight_white_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_chart_white_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_comment_white_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_drive_file_white_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_emoticon_white_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_invitation_white_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_link_white_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_insert_photo_white_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_linear_scale_white_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_merge_type_white_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_mode_comment_white_24dp {
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mode_edit_white_24dp {
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_monetization_on_white_24dp {
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_money_off_white_24dp {
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_multiline_chart_white_24dp {
  background-position: -224px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_pie_chart_outlined_white_24dp {
  background-position: -224px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_pie_chart_white_24dp {
  background-position: -0px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_publish_white_24dp {
  background-position: -32px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_short_text_white_24dp {
  background-position: -64px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_show_chart_white_24dp {
  background-position: -96px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_space_bar_white_24dp {
  background-position: -128px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_strikethrough_s_white_24dp {
  background-position: -160px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_text_fields_white_24dp {
  background-position: -192px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_title_white_24dp {
  background-position: -224px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_vertical_align_bottom_white_24dp {
  background-position: -256px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_vertical_align_center_white_24dp {
  background-position: -256px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_vertical_align_top_white_24dp {
  background-position: -256px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_wrap_text_white_24dp {
  background-position: -256px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-maps-white.PNG);
}
.icon-ic_add_location_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_beenhere_white_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_bike_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_boat_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_bus_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_car_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_railway_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_run_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_subway_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_transit_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_walk_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_edit_location_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_ev_station_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_flight_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_hotel_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_layers_clear_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_layers_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_activity_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_airport_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_atm_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_bar_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_cafe_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_car_wash_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_convenience_store_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_dining_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_drink_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_florist_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_gas_station_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_grocery_store_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_hospital_white_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_hotel_white_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_laundry_service_white_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_library_white_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_mall_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_movies_white_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_offer_white_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_parking_white_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_pharmacy_white_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_phone_white_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_pizza_white_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_play_white_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_post_office_white_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_printshop_white_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_see_white_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_shipping_white_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_taxi_white_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_map_white_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_my_location_white_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_navigation_white_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_near_me_white_24dp {
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_pin_circle_white_24dp {
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_pin_white_24dp {
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pin_drop_white_24dp {
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_place_white_24dp {
  background-position: -224px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_rate_review_white_24dp {
  background-position: -224px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_restaurant_menu_white_24dp {
  background-position: -0px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_restaurant_white_24dp {
  background-position: -32px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_satellite_white_24dp {
  background-position: -64px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_store_mall_directory_white_24dp {
  background-position: -96px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_streetview_white_24dp {
  background-position: -128px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_subway_white_24dp {
  background-position: -160px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_terrain_white_24dp {
  background-position: -192px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_traffic_white_24dp {
  background-position: -224px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_train_white_24dp {
  background-position: -256px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_tram_white_24dp {
  background-position: -256px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_transfer_within_a_station_white_24dp {
  background-position: -256px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_zoom_out_map_white_24dp {
  background-position: -256px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-maps-black.PNG);
}
.icon-ic_add_location_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_beenhere_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_bike_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_boat_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_bus_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_car_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_railway_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_run_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_subway_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_transit_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_directions_walk_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_edit_location_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_ev_station_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_flight_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_hotel_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_layers_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_layers_clear_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_activity_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_airport_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_atm_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_bar_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_cafe_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_car_wash_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_convenience_store_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_dining_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_drink_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_florist_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_gas_station_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_grocery_store_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_hospital_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_hotel_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_laundry_service_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_library_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_mall_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_movies_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_offer_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_parking_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_pharmacy_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_phone_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_pizza_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_play_black_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_post_office_black_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_printshop_black_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_see_black_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_shipping_black_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_local_taxi_black_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_map_black_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_my_location_black_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_navigation_black_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_near_me_black_24dp {
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_pin_black_24dp {
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_pin_circle_black_24dp {
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pin_drop_black_24dp {
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_place_black_24dp {
  background-position: -224px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_rate_review_black_24dp {
  background-position: -224px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_restaurant_black_24dp {
  background-position: -0px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_restaurant_menu_black_24dp {
  background-position: -32px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_satellite_black_24dp {
  background-position: -64px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_store_mall_directory_black_24dp {
  background-position: -96px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_streetview_black_24dp {
  background-position: -128px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_subway_black_24dp {
  background-position: -160px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_terrain_black_24dp {
  background-position: -192px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_traffic_black_24dp {
  background-position: -224px -224px;
  width: 32px;
  height: 32px;
}
.icon-ic_train_black_24dp {
  background-position: -256px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_tram_black_24dp {
  background-position: -256px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_transfer_within_a_station_black_24dp {
  background-position: -256px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_zoom_out_map_black_24dp {
  background-position: -256px -96px;
  width: 32px;
  height: 32px;
}
